@import 'var';

.blog {
  width: 100%;
  height: fit-content;

  &_header {
    user-select: none;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    height: 20vh;
    margin: 40px 0;

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .link {
        text-decoration: none;

        &:hover {
          color: $red-primary;
        }
      }
    }

    h3 {
      width: 60%;
    }

  }

  &_thumbnail {
    width: 100%;
    height: 80vh;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }

  &_body {
    padding: 40px 0;

    p {
      margin: 0 10vw 10px 10vw;      
    }
  }

  &_others {
    width: 100%;
    height: fit-content;

    .container {
      display: flex;
      justify-content: flex-start;
      gap: 20px;
      
      &_blog {
        height: fit-content;
        width: 20em;
        user-select: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        
        &-img {
          width: 100%;
          height: 12em;
          position: relative;
          overflow: hidden;
          display: flex;
          align-items: flex-start;
          border-radius: 5px;
          margin-bottom: 10px;
        }

        &-date {
          color: $text_secondary;
        }

        &-title {
          text-align: left;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px ) {
  .blog {
    padding: 60px 156px;
  }
}

@media screen and (max-width: 1439px) and (min-width: 1240px) {
  .blog {
    padding: 60px 200px;
  }
}

@media screen and (max-width: 1239px) and (min-width: 905px) {
  .blog {
    padding: 60px 76px;
  }
}

@media screen and (max-width: 904px) {
  .blog {
    padding: 60px;
  }
}
