@import 'var';

.home {
  min-height: 100vh;

  &_campaign {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 40px;

    &-container {
      width: 100%;
      height: 55vh;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      padding: 0;
      background: $text-primary;
      
      a {
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

      img {
        z-index: 1;
      }
    }
  }

  &_blog {
    width: 100%;
    height: fit-content;
    padding: 20px 0;

    .container {
      padding: 20px 0;
    }
    
    &-btn {
      padding: 40px 0 20px 0;
      margin: 0 auto;
      width: fit-content;
      border-bottom: 1px solid $sf-3;
      user-select: none;
    }
  }

  &_products {
    width: 100%;
    height: fit-content;
    padding: 20px 0;

    &-btn {
      padding: 40px 0 20px 0;
      margin: 0 auto;
      width: fit-content;
      border-bottom: 1px solid $sf-3;
      user-select: none;    }
  }
}

@media screen and (min-width: 1440px ) {
  .home {
    padding: 60px 156px;
  }
}

@media screen and (max-width: 1439px) and (min-width: 1240px) {
  .home {
    padding: 60px 200px;
  }
}

@media screen and (max-width: 1239px) and (min-width: 905px) {
  .home {
    padding: 60px 76px;
    
    // &_products {
    //   .container {
    //     grid-template-columns: 1fr 1fr 1fr 1fr;
    //   }
    // }
  }
  
}

@media screen and (max-width: 904px) and (min-width: 701px) {
  .home {
    padding: 60px;
    
    &_campaign {
      &-container {
        height: 25vh;
      }
    }
    
    &_blog {
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
    
    // &_products {
    //   padding-bottom: 20px;

    //   .container {
    //     display: flex;
    //     width: 100%;
    //     overflow-y: scroll;
    //   }
    // }
  }
}

@media screen and (max-width: 700px) and (min-width: 401px) {
  .home {
    padding: 40px;
    
    &_campaign {
      &-container {
        height: 40vh;
      }
    }

    &_blog {
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    // &_products {
    //   padding-bottom: 20px;

    //   .container {
    //     display: flex;
    //     width: 100%;
    //     overflow-y: scroll;
    //   }
    // }
  }
}

@media screen and (max-width: 400px) {
  .home {
    padding: 40px;
    
    &_campaign {
      padding-bottom: 20px;

      &-container {
        height: 30vh;
      }
    }

    &_blog {
      padding-bottom: 20px;

      .container {
        display: grid;
        grid-template-columns: 1fr;
      }
    }

    // &_products {
    //   padding-bottom: 20px;

    //   .container {
    //     display: flex;
    //     width: 100%;
    //     overflow-y: scroll;
    //   }
    // }
  }
}



