@import 'var';


nav { 
  z-index: 99;
  width: 100%;
  display: flex; 
  border-bottom: 1px solid $sf-2;
  user-select: none;

  .mono3 {
    text-decoration: none;

    &:hover {
      color: $red-primary;
    }
  }
}

.submenu {
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  padding: 60px;

  &_list {
    .mono3 {
      text-decoration: none;

      &:hover {
        color: $red-primary;
      }
    }

    &-btn {
      padding: 20px 0;
      color: $red-primary;
      cursor: pointer;
    } 
  }
}

@media screen and (min-width: 1440px ) {
  nav {
    height: 100px;
    padding: 0 156px;
  
    .menus,
    .logo {
      width: 50%;
      display: flex;
    }
  
    .logo {
      align-items: center;
    }
  
    .menus {
      justify-content: space-between;
      padding: 20px 0;
  
      &_submenu { display: none; }
      &_shop, 
      &_others {
        width: 50%;
      }
  
      &_shop {
        display: flex;
        justify-content: space-between;
      }
  
      &_others {
        text-align: right;
      } 
    }
  }
}

@media screen and (max-width: 1439px) and (min-width: 1240px) {
  nav {
    height: 100px;
    padding: 0 200px;
  
    .menus,
    .logo {
      width: 50%;
      display: flex;
    }
  
    .logo {
      align-items: center;
    }
  
    .menus {
      justify-content: space-between;
      padding: 20px 0;
  
      &_submenu { display: none; }
      &_shop, 
      &_others {
        width: 50%;
      }
  
      &_shop {
        display: flex;
        justify-content: space-between;
      }
  
      &_others {
        text-align: right;
      } 
    }
  }
}

@media screen and (max-width: 1239px) and (min-width: 905px) {
  nav {
    height: 95px;
    padding: 0 76px;
  
    .menus,
    .logo {
      width: 50%;
      display: flex;
    }
  
    .logo {
      align-items: center;
    }
  
    .menus {
      justify-content: space-between;
      padding: 20px 0;
      
      &_submenu { display: none; }
      &_shop, 
      &_others {
        width: 50%;
      }
  
      &_shop {
        display: flex;
        justify-content: space-between;
      }
  
      &_others {
        text-align: right;
      } 
    }
  }
}

@media screen and (max-width: 904px) {
  nav {
    height: 90px;
    padding: 0 40px;
    
    .menus,
    .logo {
      width: 50%;
      display: flex;
    }
  
    .logo {
      align-items: center;
      
      h1 {
        font-size: 34.72px;
      }
    }
  
    .menus {
      align-items: center;
      justify-content: flex-end;

      &_shop, 
      &_others {
        display: none; 
      }
      &_submenu {
        li {
          cursor: pointer;
        }
      }
    }
  }
}
