@import 'var';

.sales {
  width: 100%;
  height: fit-content;
  position: relative;
}

@media screen and (min-width: 1440px ) {
  .sales {
    padding: 60px 156px;
  }
}

@media screen and (max-width: 1439px) and (min-width: 1240px) {
  .sales {
    padding: 60px 200px;
  }
}

@media screen and (max-width: 1239px) and (min-width: 905px) {
  .sales {
    padding: 60px 76px;
  }
}

@media screen and (max-width: 904px) {
  .sales {
    padding: 60px;
  }
}