@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

// Color-Style
$red-primary: #FF3D00;
$red-secondary: #FFD8CB;
$text-primary: #000000;
$text-secondary: #666666;    
$sf-1: #F2F2F2;
$sf-2: #E6E6E6;
$sf-3: #CCCCCC;
$sf-4: #999999;

$inter: 'Inter', 'sans-serif';
$jtbrains: 'JetBrains Mono', 'monoscape';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100vh;
  color: $text-primary;
  background: $sf-1;
  font-family: $inter;
} 

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
}

p {
  font-weight: 00;
  font-size: 16px;
  line-height: 24px;
}

small {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

button {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  outline: none;
  font-family: $inter;
  font-size: 14px;
}

.footnote {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $text-secondary;
}

.discount {
  font-weight: 600;
  font-size: 16px;
  text-decoration: line-through;
}

h1 {
  font-size: 61.04px;
  line-height: 56px;
  font-weight: 700;
}

h2 {
  font-size: 48.83px;
  font-weight: 600;  
  line-height: 48px;
}

h3 {
  font-size: 39.06px;
  font-weight: 600;
  line-height: 40px;
}

h4 {
  font-size: 31.25px;
  font-weight: 600;
}

h5 {
  font-size: 25px;
  font-weight: 600;
}

h6 {
  font-size: 18px;
  font-weight: 600;
}

.mono1, 
.mono2,
.mono3 {
  font-family: $jtbrains;
  text-transform: uppercase;
}

.mono1 {
  font-size: 31.25px;
  font-weight: 500;
}

.mono2 {
  font-size: 25px;
  font-weight: 500;
}

.mono3 {
  font-size: 16px;
  font-weight: 500;
  
  a {
    color: $text-primary;
    text-decoration: none;
    font-weight: inherit;
    font-size: inherit;
  }
}

.error {
  font-size: 14px;
  font-weight: 600;
  color: $red-primary;
}

.price {
  padding: 0;
  background: none;
  font-size: 18px;
  font-weight: 600;
  color: $text-primary;
}

.tag {
  color: $red-primary;
}

// ========== BUTTON STYLES ========== //
.btn1 {
  font-weight: 500;
  color: $sf-1;
  background: $text-primary;
  border: none;
  border-radius: 10px;
}

.btn2 {
  font-weight: 600;
  color: $text-primary;
  background: $sf-2;
  border: none;
  border-radius: 10px;
}

.btn3 {
  font-weight: 600;
  color: $text-primary;
  background: none;
  border: none;
  border-radius: 10px;
  text-decoration: underline;
}

.btn4 {
  font-weight: 600;
  color: $text-primary;
  background: none;
  border: 1px solid $text-primary;
  border-radius: 10px;
  display: flex;
  gap: 5px;
}
// ========== BUTTON STYLES ========== //

// =========== CARD STYLES =========== //
.card2 {
  height: 250px;
  width: 200px;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  background: $text-primary;
  color: $text-secondary;
  user-select: none;
}

.productCard {
  height: 18em;
  width: 15em;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid $sf-3;
  border-radius: 10px;
  padding: 10px;

  &_img {
    width: 100%;
    height: 12em;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  &_info {
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  
  h6 {
    color: $text-primary;
  }

  @media screen and (max-width: 400px) {
    height: 16em;
    width: 10em;

    &_img {
      height: 10em;
    }
  }
}
  
.blogCard {
  height: fit-content;
  width: fit-content;
  max-width: 100%;
  height: fit-content;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (max-width: 904px) {
    width: 100%;
  }
 
  &_img {
    width: 100%;
    min-height: 30vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    border-radius: 5px;
    margin-bottom: 10px;
    
    @media screen and (max-width: 904px) {
      min-height: 20vh;
    }
  }

  &_date {
    color: $text_secondary;
  }

  &_title {
    color: $text-primary;
    text-align: left;
  }
}

// =========== CARD STYLES =========== //

.separator {
  height: 1px;
  width: 100%;
  background: $sf-3;
}

textarea {
  resize: none;
  font-family: $inter;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  background: $sf-2;
  border: none;
  padding: 10px;

  &::placeholder {
    color: $sf-4;
  }

  &:focus {
    outline: 2px solid $sf-4;
  }
}

input {
  padding: 10px 20px;
  border: none;
  background: $sf-2;
  border-radius: 5px;
  font-size: 14px;
  font-family: inherit;
  font-weight: 500;
  
  &::placeholder {
    color: $sf-4;
  }
  
  &:focus {
    outline: 2px solid $sf-4;
  }
  
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}

.react-select-container {
  width: 50%;
  
  .react-select {
    &__single-value {
      font-family: $inter;
      font-weight: 600;
      font-size: 14px;
    }

    &__control {
      background: $sf-2;
      border: none;
  
      &--is-focused, &--menus-is-opened {
        .css-t3ipsp-control {
          border: red 2px solid !important;
          box-shadow: red !important;
        }
        
      } 
      .react-select__value-container {
        .react-select__placeholder {
          font-family: $inter;
          font-weight: 500;
          font-size: 14px;
          color: $sf-4;
        }
      }
    }

    &__indicator {
      &-separator {
        display: none;
      }
    }    
  }
}

.react-select__menu {
  box-shadow: none !important;

  &-list {
    background: $sf-2;
    color: $sf-4;
    font-family: $inter;
    font-size: 14px;
    font-weight: 500;

    .react-select__option {
      color: $text-primary; 
    }
  }
}

.module {
  z-index: 99;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba($color: $text-primary, $alpha: 0.5);

  &_container {
    height: 75%;
    width: 65%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $sf-1;
    border-radius: 10px;
    overflow: hidden;
  }
}

.container {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: flex-start;
  gap: 20px;
}

.searchbar {
  background: none;
  padding: 0;

  &:focus {
    border: none;
    outline: none;
  }
}

.slider {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  button {
    height: fit-content;
    width: fit-content;
  }

  .slick-list {
    width: 100%;
    overflow: hidden;

    .slick-track {
      display: flex;
      gap: 20px;

      .slick-slide {
        width: 15em !important;
      }
    }
  }
}
